<div class="footer">
  <div class="content">
    <div class="icons">
      <a href="https://www.github.com/luizgabb/" target="blank">
        <img class="linkedin" src="/png/github.png" alt="">
      </a>
      <a href="https://www.linkedin.com/in/luizgabb/" target="blank">
        <img class="linkedin" src="/png/linkedin.png" alt="">
      </a>
      <a href="https://wa.me/558596179939" target="blank">
        <img class="linkedin" src="/png/whatsapp.png" alt="">
      </a>
    </div>
  </div>
</div>
