<div class="navbar">
  <div class="logo">
    <img src="\png\logo.png" alt="">
    <h1 class="title">Raycast</h1>
  </div>

    <ul class="list">
      <li routerLink="">Store</li>
      <li routerLink="">Developer</li>
      <li routerLink="">Teams</li>
      <li routerLink="">Pro</li>
      <li routerLink="">Changelog</li>
      <li routerLink="">Price</li>
      <li routerLink="">Blog</li>
    </ul>

    <div class="nav-esq">
      <div class="Log" routerLink="">Log in</div>
      <div class="btn-download">Download</div>
    </div>

</div>
