.navbar {
  display: flex;
  flex-direction: row;
  justify-content:space-between  ;
  align-items: center;
  margin: 0;
  color: #FFFFFF;

  max-width: 1920px;
  height: 82px;
  border-bottom: 1px solid #ffffff33;
}

img {
  width: 45.98px;
  height: 46px;
  padding: 0px 0px 0px 0px;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px 0px 0px 200px;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.list li {
  transition: opacity 0.2s;
  opacity: 0.7;
}

.list li:hover {
  opacity: 1; /* Efeito ao passar o mouse */
}

.list li:active {
  transform: scale(0.95); /* Efeito de clique (pressionar) */
}

h1  {
  margin: 0;
  padding: 200, 18, 18 ;
  font-weight: 600  ;
}


.nav-esq{
    display: flex ;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 200px;
}
