.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  color: #FFFFFF;
  border-bottom: 1px solid #ffffff33;

  max-width: 1920px;
  height: 82px;
}

img {
  width: 40.98px;
  height: 41px;
  padding: 0px 0px 0px 0px;
}

img:active {
  transform: scale(0.95);
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding: 0px 0px 0px 200px;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.list li {
  transition: opacity 0.2s;
  opacity: 0.7;
}

.list li:hover {
  opacity: 1;
}

.list li:active {
  transform: scale(0.95);
}

h1 {
  margin: 0;
  padding: 200, 18, 18;

  font-weight: 600;
  font-size: 27px;
}

h1:active {
  transform: scale(0.95);
}

.nav-esq {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 16% ;
  cursor: pointer;

}

.btn-download {
  display: flex;
  width: 140px;
  height: 40px;
  align-items: center;
  justify-content: center;

  border-radius: 13px;
  border: 2px solid transparent;
  background-image: linear-gradient(#02081a, #02081a), linear-gradient(90deg, #93B7F1, #003962);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btn-download:hover {
  opacity: 1;
}

.btn-download:active {
  transform: scale(0.95);
}

#menu-check, .menu-button {
  display: none;
}

@media (max-width: 1233px) {

  .logo, .nav-esq {
    padding: 0 20px !important;
  }

  .menu-button {
    display: block;
    padding: 20px;
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    background: white;
    height: 3px;
    width: 28px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  .hamburger::before { margin-top: -8px; }
  .hamburger::after { margin-top: 13px; }

  .list {
    position: fixed;
    top: 0;
    right: -100%;

    width: 280px;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
    margin: 0;
    padding: 0;
    z-index: 1000;

    background: #02081a;
    transition: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    border-left: 1px solid rgba(255,255,255,0.1);
  }

  .list li {
    font-size: 20px;
    opacity: 1;
  }

  #menu-check:checked ~ .list {
    right: 0;
  }

  #menu-check:checked ~ .menu-button .hamburger {
    background: transparent;
  }
  #menu-check:checked ~ .menu-button .hamburger::before {
    transform: rotate(45deg);
    margin-top: 0;
  }
  #menu-check:checked ~ .menu-button .hamburger::after {
    transform: rotate(-45deg);
    margin-top: -3px;
  }

  .nav-esq {
    order: 2;
  }
}

