<div class="navbar">
  <div class="logo">
    <h1 class="title">Luiz Gabriel</h1>
  </div>

@if (isMobile$ |async) {
  <input type="checkbox" id="menu-check">
  <label for="menu-check" class="menu-button">
    <span class="hamburger"></span>
  </label>

  <ul class="list">
    <li (click)="goTo(0)">Sobre</li>
    <li (click)="goTo(1)">Projetos</li>
    <li (click)="goTo(2)">Tecnologias</li>
    <li (click)="goTo(2)">Experiência</li>
    <li (click)="goTo(3)">Educação</li>
    <li>
      <div class="nav-esq">
        <div class="btn-download" (click)="scrollToEducacao()">Contato</div>
      </div>
    </li>
  </ul>

} @else {
  <input type="checkbox" id="menu-check">
  <label for="menu-check" class="menu-button">
    <span class="hamburger"></span>
  </label>

  <ul class="list">
    <li (click)="goTo(0)">Sobre</li>
    <li (click)="goTo(1)">Projetos</li>
    <li (click)="goTo(2)">Tecnologias</li>
    <li (click)="goTo(2)">Experiência</li>
    <li (click)="goTo(3)" >Educação</li>
  </ul>

  <div class="nav-esq">
    <div class="btn-download" (click)="scrollToEducacao()">Contato</div>
  </div>

}

</div>
