.navbar {
  display: flex;
  flex-direction: row;
  justify-content:space-between  ;
  align-items: center;
  margin: 0;
  color: #FFFFFF;

  max-width: 1920px;
  height: 82px;
}

.logo {
  display: flex;
  flex-direction: row;
  padding-right: 305;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

h1  {
  margin: 0;
  padding: 200, 18, 18 ;
}


.nav-esq{
    display: flex ;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
