.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  color: #FFFFFF;
  border-bottom: 1px solid #ffffff33;

  max-width: 1920px;
  height: 82px;
}

img {
  width: 40.98px;
  height: 41px;
  padding: 0px 0px 0px 0px;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 7px;
  padding: 0px 0px 0px 200px;
  cursor: pointer;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.list li {
  transition: opacity 0.2s;
  opacity: 0.7;
}

.list li:hover {
  opacity: 1;
}

.list li:active {
  transform: scale(0.95);
}

h1 {
  margin: 0;
  padding: 200, 18, 18;

  font-weight: 600;
  font-size: 27px;
}


.nav-esq {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 200px;
  cursor: pointer;

}

.btn-download {
  display: flex;
  width: 140px;
  height: 40px;
  align-items: center;
  justify-content: center;

  border-radius: 13px;
  border: 2px solid transparent;
  background-image: linear-gradient(#02081a, #02081a), linear-gradient(90deg, #93B7F1, #003962);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  transition: opacity 0.2s;
  opacity: 0.7;
}

.btn-download:hover {
  opacity: 1;
}

.btn-download:active {
  transform: scale(0.95);
}

.Log {
  transition: opacity 0.2s;
  opacity: 0.7;
}

.Log:hover {
  opacity: 1;
}

.Log:active {
  transform: scale(0.95);
}
