<div class="navbar">
  <div class="logo">
    <h1 class="title">Luiz Gabriel</h1>
  </div>

@if (isMobile$ |async) {
  <input type="checkbox" id="menu-check">
  <label for="menu-check" class="menu-button">
    <span class="hamburger"></span>
  </label>

  <ul class="list">
    <li (click)="scrollToSobre()">Sobre</li>
    <li (click)="scrollToProjects()">Projetos</li>
    <li (click)="scrollToTecnologias()">Tecnologias</li>
    <li (click)="scrollToTecnologias()">Experiência</li>
    <li (click)="scrollToEducacao()">Educação</li>
    <li>
      <div class="nav-esq">
        <div class="btn-download">Contato</div>
      </div>
    </li>
  </ul>

} @else {
  <input type="checkbox" id="menu-check">
  <label for="menu-check" class="menu-button">
    <span class="hamburger"></span>
  </label>

  <ul class="list">
    <li (click)="scrollToSobre()">Sobre</li>
    <li (click)="scrollToProjects()">Projetos</li>
    <li (click)="scrollToTecnologias()">Tecnologias</li>
    <li (click)="scrollToTecnologias()">Experiência</li>
    <li (click)="scrollToEducacao()">Educação</li>
  </ul>

  <div class="nav-esq">
    <div class="btn-download">Contato</div>
  </div>

}

</div>
