<div class="projects">
  <div class="portifolio">
    <p>PORTIFÓLIO</p>
  </div>
  <h1 class="title">Projetos</h1>
  <p class="descricao">
    Projetos desenvolvidos com o objetivo de consolidar conhecimentos teóricos e adquirir
    experiência prática,<br>
    explorando desde a arquitetura de APIs até a criação de interfaces modernas e responsivas.
  </p>
  <img class="luz" src="/png/luz.png" alt="">
  <div class="projects-container">
    <div class="projects-view"></div>

    <div class="list-projects">
      <div class="project-1">
        <div class="project-icon"> <i class="ph ph-certificate"></i></div>
        <h1 class="project-title">Gerador de Certificados</h1>
        <p class="proj-descricao">Este é um gerador de certificados desenvolvido em Angular que permite criar e baixar certificados personalizados de forma simples e eficiente.</p>
      </div>
      <div class="project-2">
        <div class="project-icon"> <i class="ph ph-envelope"></i></div>
        <h1 class="project-title">Email Service</h1>
        <p class="proj-descricao">Este projeto é uma API construída usando Java, Java Spring e AWS Simple Email Service.</p>
      </div>
      <div class="project-3">
        <div class="project-icon"> <i class="ph ph-barbell"></i></div>
        <h1 class="project-title">Desafio Smartfit</h1>
        <p class="proj-descricao">solução para o desafio de Front-end da Smart Fit . Eu utilizei o framework Angular para desenvolver a aplicação.</p>
      </div>
    </div>
  </div>
</div>
