<div class="main">
  <div class="local"
       data-aos="zoom-in"
       data-aos-delay="200"
       data-aos-duration="600">
    <p>FORTALEZA CE</p>
  </div>

  <h1 class="stack"
      data-aos="fade-right"
      data-aos-delay="400"
      data-aos-duration="800">
    Desenvolvedor<br>Fullstack Jr
  </h1>

  <p class="sobre"
     data-aos="fade-right"
     data-aos-delay="600"
     data-aos-duration="800">
    Desenvolvedor Web focado em entregar valor com TypeScript, Java e Python. <br>
    Especialista em ecossistemas modernos como Angular, React e Spring.
  </p>

  <div class="proj"
       data-aos="fade-up"
       data-aos-delay="900"
       data-aos-duration="700"
       data-aos-anchor-placement="top-bottom"
       (click)="scrollToProjects()">
    Ver Projetos
  </div>
</div>
