<div class="main">
  <div class="local" data-aos="zoom-out" data-aos-delay="200">
    <p>FORTALEZA CE</p>
  </div>
  <h1 class="stack" data-aos="fade-left" data-aos-delay="300">Desenvolvedor<br>Fullstack Jr</h1>
  <p class="sobre" data-aos="fade-left" data-aos-delay="500">
    Desenvolvedor Web focado em entregar valor com TypeScript, Java e Python. <br>
    Especialista em ecossistemas modernos como Angular, React e Spring.
  </p>
  <div class="proj" data-aos="zoom-out" data-aos-delay="600" (click)="scrollToProjects()">Ver Projetos</div>
</div>
