<div class="tech-section">
  <div class="stack" data-aos="zoom-in" data-aos-delay="100">
    <p>STACKS</p>
  </div>
  <h2 data-aos="fade-left" data-aos-delay="200">Tecnologias</h2>
  <div class="slider reveal" >
    <div class="slide-track">

      @for (tech of techs; track tech.nome) {
        <div class="slide">
          <img [src]="tech.logo" [alt]="tech.nome">
          <span>{{ tech.nome }}</span>
        </div>
      }

      @for (tech of techs; track tech.nome) {
        <div class="slide">
          <img [src]="tech.logo" [alt]="tech.nome">
          <span>{{ tech.nome }}</span>
        </div>
      }

    </div>
  </div>
</div>
