@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
  --font-family-sans: 'Inter', sans-serif;
}
body {
  background-color: #02081a !important;
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family-sans);
}
